<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.pt.beans.Student" id="std">
    <property name="name" value="Priyanshi Tomar"/>
    <property name="email" value="priyanshitomar1506@gmail"/>
    <property name="age" value="24"/>
    </bean>

</beans>